/* QWidget {
  border: 1px solid black;
} */

/* Initial */
QWidget#widget_title_bar {
  background-color: #ffffff;
  border-top: 1px solid #595959;
  border-left: 1px solid #595959;
  border-right: 1px solid #595959;
}

QPushButton#button_close {
  border-style: none;
  border-top: 1px solid #595959;
  border-right: 1px solid #595959;
}

QPushButton#button_close:hover {
  background-color: #e6e6e6;
  border-style: none;
  border-top: 1px solid #595959;
  border-right: 1px solid #595959;
}

QPushButton#button_close:pressed {
  background-color: #ff471a;
  border-style: none;
  border-top: 1px solid #595959;
  border-right: 1px solid #595959;
}

QWidget#widget_bottom_bar {
  background-color: #e6e6e6;
  border-bottom: 1px solid #595959;
  border-left: 1px solid #595959;
  border-right: 1px solid #595959;
}

QPushButton#button_microphone {
  border-style: none;
  border-right: 1px solid #595959;
  border-bottom: 1px solid #595959;
}

QPushButton#button_microphone:hover {
  background-color: #8b989e;
  border-style: none;
  border-right: 1px solid #595959;
  border-bottom: 1px solid #595959;
}

QPushButton#button_microphone:pressed {
  background-color: #b8b8b8;
  border-style: none;
  border-right: 1px solid #595959;
  border-bottom: 1px solid #595959;
}

/* Widget Main Window */
QWidget#widget_main_window {
  background-color: #ffffff;
  border: 1px solid #595959;
}

QLabel#label_assistant_ask {
  font: 16px;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px;
}

QLabel#label_assistant_hint {
  font: 14px;
}

QPushButton#icon_user_message {
  border-style: none;
}

QPushButton#icon_sound_waves {
  border-style: none;
}

QLabel#label_assistant_listening {
  font: 16px;
  color: #064d69;
  margin-bottom: 2px;
}

QLabel#label_user_answer {
  font: 16px;
  color: #e23046;
  margin-bottom: 2px;
}

/* Widget Simple Window */
QWidget#widget_simple_window {
  background-color: #ffffff;
  border: 1px solid #595959;
}

QLabel#label_icon_assistant_answer {
  padding: 10px;
}

QLabel#label_assistant_answer {
  font: 16px;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px;
}

/* Widget clock window */
QWidget#widget_clock_window {
  background-color: #ffffff;
  border: 1px solid #595959;
}

QLabel#label_time_zone {
  font: 16px;
}

QLabel#label_colon {
  font: 40px;
}

QLabel#label_colon2 {
  font: 40px;
}

QLabel#label_hour {
  font: 32px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

QLabel#label_minute {
  font: 32px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

QLabel#label_second {
  font: 32px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

QLabel#label_date_in_clock_window {
  font: 20px;
}

/* Widget date window */
QWidget#widget_date_window {
  background-color: #ffffff;
  border: 1px solid #595959;
}

QLabel#label_time_zone {
  font: 16px;
}

QLabel#label_slash {
  font: 40px;
}

QLabel#label_slash2 {
  font: 40px;
}

QLabel#label_day {
  font: 32px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

QLabel#label_month {
  font: 32px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

QLabel#label_year {
  font: 32px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

QLabel#label_clock_in_date_window {
  font: 20px;
}

/* Widget loading window */
QWidget#widget_loading_window {
  background-color: #ffffff;
  border: 1px solid #595959;
}

QLabel#label_assistant_loading {
  font: 16px;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px;
}
